WORKSPACE_DIR=/tmp/workspace
WORKBENCH_DIR=/tmp/workbench
OLLAMA_ENDPOINT=http://localhost:11434
AIP_REGISTER_URL=https://api.nuvolaris.io/_register
AIP_BASE_URL=https://api.nuvolaris.io/api/v2/
GIT_USER=TrustableUser
GIT_EMAIL=noreply@example.com
