WORKSPACE_DIR=$HOME/workspace
WORKBENCH_DIR=./workbench
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=<api key>
OLLAMA_ENDPOINT=http://localhost:11434
AIP_REGISTER_URL=http://localhost:8080/_register
AIP_BASE_URL=http://localhost:8080/api/v2/
GIT_USER=TrustableUser
GIT_EMAIL=noreply@example.com
