[submodule "olaris-trustable"]
	path = olaris-trustable
	url = git@github.com:trustable-ai/olaris-trustable
[submodule "olaris"]
	path = olaris
	url = https://github.com/nuvolaris/bestia
	branch = bestia
