[submodule "olaris"]
	path = olaris
	url = https://github.com/nuvolaris/bestia
	branch = bestia
[submodule "support"]
	path = support
	url = git@github.com:trustable-ai/.github
[submodule "skills"]
	path = skills
	url = git@github.com:trustable-ai/skills
[submodule "olaris-bestia"]
	path = olaris-bestia
	url = git@github.com:nuvolaris/olaris-bestia
